<div class="skin-blue">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard <small>Version 1.0</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of fraud detected last month</span>
                            <span class="info-box-number">{{statisticPerMonth?.numberOfDetectedFraudsPerCurrentMonth}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-check-square" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of good transactions</span>
                            <span class="info-box-number">{{statisticPerMonth?.numberOfSuccessfullyProcessedTransactions}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of succesfully processed transactions</span>
                            <span class="info-box-number">{{statisticPerMonth?.numberOfIncorrectlyDetectedFrauds}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Monthly Report</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-center">
                                        <strong>Number of frauds per merchant country</strong>
                                    </p>
                                    <p-chart type="doughnut" [data]="chartDataCountries"></p-chart>
                                </div>

                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-center">
                                        <strong>Number of frauds per month</strong>
                                    </p>
                                    <p-chart type="line" [data]="chartDataMonthlyStatistics" (onDataSelect)="selectData($event)"></p-chart>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-center">
                                        <strong>Number of frauds per card vendor</strong>
                                    </p>
                                    <p-chart type="polarArea" [data]="chartDataCardVendors"></p-chart>
                                </div>

                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-center">
                                        <strong>Number of frauds per client country</strong>
                                    </p>
                                    <p-chart type="doughnut" [data]="chartDataClientCountries"></p-chart>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
    </section>
</div>