<div class="skin-blue">

    <p *ngIf="!transactions"><em>Loading...</em></p>
    <!-- Button trigger modal -->
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit transaction status</h4>
                </div>
                <div class="modal-body">
                   
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Transaction details</h3>
                            </div>

                            <div class="box-body">
                                <div>
                                    <label>Transaction Type</label><br />
                                    {{transaction.transactionType}}
                                </div>

                                <div>
                                    <label>Card Type</label><br />
                                    {{transaction.cardType}}
                                </div>
                                <div>
                                    <label>Transaction amount</label><br />
                                    {{transaction.amount}}
                                </div>
                                <div>
                                    <label>Transaction date</label>
                                    {{transaction.transactionDate}}
                                </div>
                                <div>
                                    <label>Login Atempts</label>
                                    {{transaction.loginAtempts}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Client details</h3>
                            </div>
                            <div class="box-body">
                                <div>
                                    <label>Client country</label>
                                    {{transaction.clientCountry}}
                                </div>
                                <div>
                                    <label>Last transaction date</label>
                                    {{transaction.lastTransactionDate}}
                                </div>
                                <div>
                                    <label>Amount of spent money per day</label>
                                    {{transaction.amountOfSpentMoneyPerDay}}
                                </div>
                                <div>
                                    <label>Amount per last month</label>
                                    {{transaction.amountOfSpentMoneyPerMonth}}
                                </div>

                                <div>
                                    <label>Card number</label>
                                    {{transaction.cardNumber}}
                                </div>
                                <div>
                                    <label>Card expiry date</label>
                                    {{transaction.cardExpiryDate}}
                                </div>
                            </div>
                        </div>

                        <div class="box box-success col-md-12">
                            <div class="box-header with-border">
                                <h3 class="box-title">Merchant details</h3>
                            </div>
                            <div>
                                <label>Merchant Code</label>
                                {{transaction.merchant}}
                            </div>
                            <div>
                                <label>Merchant country</label>
                                {{transaction.merchantCountry}}
                            </div>
                            <div>
                                <label>Longitude</label>
                                {{transaction.longitude}}
                            </div>
                            <div>
                                <label>Latitude</label>
                                {{transaction.latitude}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveTransactionStatus(transaction.transactionId, 1);" >Save as non fraud</button>
                    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" (click)="saveTransactionStatus(transaction.transactionId, 0);">Save as fraud</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

     <div style="padding:10px;">
        <div class="alert alert-success alert-dismissible" *ngIf="message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Message!</h4>
            The transaction status have been changed!
        </div>

    </div>
    <div class="box">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Transaction list
            </h1>
        </section>
        <form id="transactions">
            <div class="form-group">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label>Transaction date *</label>
                            </div>
                            <p-calendar name="transactionDate" id="transactionDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                        [(ngModel)]="transactionDate">
                            </p-calendar>
                        </div>
                    </div>
            <div class="box-body">
                <div class="form-group" style="clear:both; padding:10px;">
                    <button type="button" (click)="reloadData();" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="transactionTable" class="table table-bordered table-hover" *ngIf="transactions">
                <thead>
                    <tr>
                        <th>Merchant</th>
                        <th>Card Type</th>
                        <th>Card Number</th>
                        <th>Country</th>
                        <th>Transaction Time</th>
                        <th>Transaction Date</th>
                        <th>Status</th>
                        <th>Fraud Probability</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.merchant }}</td>
                        <td>{{ transaction.cardType }}</td>
                        <td>{{ transaction.cardNumber }}</td>
                        <td>{{ transaction.country }}</td>
                        <td>{{ transaction.transactionTime }}</td>
                        <td>{{ transaction.transactionDate }}</td>
                        <td>
                            <span *ngIf="transaction.prediction==0" class="label label-warning">Alert</span>
                            <span *ngIf="transaction.class==1" class="label label-success">Classified as NonFraud</span>
                            <span *ngIf="transaction.class==0" class="label label-danger">Classified as Fraud</span>
                        </td>
                        <td>{{ transaction.fraudProbability }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"                                     
                                    (click)="getAlert(transaction.transactionId)"
                                    >Edit</button>
                                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
