<div class="skin-blue">

    <p *ngIf="!transactions"><em>Loading...</em></p>
    <!-- Button trigger modal -->
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit transaction status</h4>
                </div>
                <div class="modal-body">
                   
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Transaction details</h3>
                            </div>

                            <div class="box-body">
                                <div class="col-sm-12">
                                    <label>Transaction Type</label><br />
                                    {{transaction.transactionType}}
                                </div>

                                <div class="col-sm-12">
                                    <label>Card Type</label><br />
                                    {{transaction.cardType}}
                                </div>

                                <div class="col-sm-12">
                                    <label>Outlet Code</label><br />
                                    {{transaction.outletCode}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Transaction amount</label><br />
                                    {{transaction.amount}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Currency</label><br />
                                    {{transaction.transactionCurrency}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Transaction amount in EUR</label>
                                    {{transaction.amountEUR}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Transaction date</label>
                                    {{transaction.transactionDate}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Login Atempts</label>
                                    {{transaction.loginAtempts}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Client details</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-sm-12">
                                    <label>Client country</label>
                                    {{transaction.clientCountry}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Last transaction date</label>
                                    {{transaction.lastTransactionDate}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Amount of spent money per day</label>
                                    {{transaction.amount}}
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <label>Amount per last month</label>
                                    {{transaction.amount}}
                                </div>

                                <div class="col-sm-12">
                                    <label>Card number</label>
                                    {{transaction.cardNumber}}
                                </div>
                                <div class="col-sm-12">
                                    <label>Card expiration date</label>
                                    {{transaction.cardExpirationDate}}
                                </div>
                            </div>
                        </div>

                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Merchant details</h3>
                            </div>
                            <div class="col-sm-12">
                                <label>Merchant Code</label>
                                
                            </div>
                            <div class="col-sm-12">
                                <label>Merchant country</label>
                                
                            </div>
                            <div class="col-sm-12">
                                <label>Longitude</label>
                                
                            </div>
                            <div class="col-sm-12">
                                <label>Latitude</label>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveTransactionStatus(transaction.transactionID,'CLSNONFRAUD');" >Save as non fraud</button>
                    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" (click)="saveTransactionStatus(transaction.transactionID,'CLSFRAUD');">Save as fraud</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

     <div style="padding:10px;">
        <div class="alert alert-success alert-dismissible" *ngIf="message">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Message!</h4>
            The transaction status have been changed!
        </div>

    </div>
    <div class="box">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Transaction list
            </h1>
        </section>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="transactionTable" class="table table-bordered table-hover" *ngIf="transactions">
                <thead>
                    <tr>
                        <th>Merchant Code</th>
                        <th>Card Type</th>
                        <th>Country </th>
                        <th>Transaction Time</th>
                        <th>Status</th>
                        <th>Fraud Probability</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{ transaction.merchantCode }}</td>
                        <td>{{ transaction.cardType }}</td>
                        <td>{{ transaction.country }}</td>
                        <td>{{ transaction.insertedTime }}</td>
                        <td>
                            <span *ngIf="transaction.statusCode=='ALERT'" class="label label-warning">{{transaction.status}}</span>
                            <span *ngIf="transaction.statusCode=='CLSNONFRAUD'" class="label label-success">{{transaction.status}}</span>
                            <span *ngIf="transaction.statusCode=='CLSFRAUD'" class="label label-danger">{{transaction.status}}</span>
                        </td>
                        <td>{{ transaction.fraudProbability }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" (click)="getAlert(transaction.transactionID)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
