<div class="box box-warning skin-blue">
    <div class="box-header with-border">
        <h1>Test transaction</h1>
    </div>
    <div style="padding:10px;">
        <div class="alert alert-danger alert-dismissible" *ngIf="alertResponse.status == 'ALERT'">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            This transaction has a high risk value to be a fraud!
        </div>
         
        <div class="alert alert-warning alert-dismissible" *ngIf="alertResponse.status == 'WARNING'">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            This transaction has a medium risk value to be a fraud!
        </div>
        <div class="alert alert-success alert-dismissible" *ngIf="alertResponse.status == 'LOW'">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Alert!</h4>
            This transaction has a low risk value to be a fraud!
        </div>
    </div>
    <form role="form" [formGroup]="transactionform">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaction details</h3>
                </div>

                <div class="box-body">
                    <div class="form-group" [class.has-error]="hasTransactionTypeError">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Transaction Type *</label>
                            </div>
                            <select class="form-control" formControlName="transactionType" #transactionTypeFeature name="transactionTypeFeature"
                                    (blur)="validateTransactionType(transactionTypeFeature.value)"
                                    (change)="validateTransactionType(transactionTypeFeature.value)"
                                    [(ngModel)]="transaction.transactionTypeFeature">
                                <option *ngFor="let x of transactionTypes" [value]="x.feature">{{x.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="hasCardTypeError">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Card Type *</label>
                            </div>
                            <select class="form-control" formControlName="cardType" #cardTypeFeature name="cardTypeFeature" id="cardTypeFeature"
                                    (blur)="validateCardType(cardTypeFeature.value)"
                                    (change)="validateCardType(cardTypeFeature.value)"
                                    [(ngModel)]="transaction.cardTypeFeature">
                                <option *ngFor="let x of cardTypes" [value]="x.feature">{{x.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['amount'].invalid && transactionform.controls['amount'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Transaction amount *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="amount" #amount name="amount" id="amount"
                                    placeholder="Enter transaction amount..." 
                                    [(ngModel)]="transaction.amount">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['transactionDate'].invalid && transactionform.controls['transactionDate'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label>Transaction date</label>
                            </div>
                            <p-calendar class="form-control" formControlName="transactionDate" #transactionDate name="transactionDate" id="transactionDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                        [(ngModel)]="transaction.transactionDate">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['loginAtempts'].invalid && transactionform.controls['loginAtempts'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Login Atempts *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="loginAtempts" #loginAtempts name="loginAtempts" id="loginAtempts"
                                    placeholder="Enter login atempts..."
                                    [(ngModel)]="transaction.loginAtempts">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Client details</h3>
                </div>

                <div class="box-body">
                    <div class="form-group" [class.has-error]="hasClientCountryError">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Client country *</label>
                            </div>
                            <select class="form-control" formControlName="clientCountry" #clientCountryFeature name="clientCountryFeature" id="clientCountryFeature"
                                    (blur)="validateClientCountry(clientCountryFeature.value)"
                                    (change)="validateClientCountry(clientCountryFeature.value)"
                                    [(ngModel)]="transaction.clientCountryFeature">
                                <option *ngFor="let x of countries" [value]="x.feature">{{x.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['lastTransactionDate'].invalid && transactionform.controls['lastTransactionDate'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label>Last transaction date *</label>
                            </div>
                            <p-calendar class="form-control" formControlName="lastTransactionDate" #lastTransactionDate name="lastTransactionDate" id="lastTransactionDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                        [(ngModel)]="transaction.lastTransactionDate">
                            </p-calendar>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['spentMoneyPerDay'].invalid && transactionform.controls['spentMoneyPerDay'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Amount of spent money per day *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="spentMoneyPerDay" #amountEUR name="spentMoneyPerDay" id="spentMoneyPerDay"
                                    placeholder="Enter amount of spent money per day...">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['amountPerLastMonth'].invalid && transactionform.controls['amountPerLastMonth'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Amount per last month *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="amountPerLastMonth" #amountPerLastMonth name="amountPerLastMonth" id="amountPerLastMonth"
                                    placeholder="Enter amount of spent money per last month...">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['cardNumber'].invalid && transactionform.controls['cardNumber'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Card number *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="cardNumber" #cardNumber name="cardNumber" id="cardNumber"
                                    placeholder="Enter card number...">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['cardExpirationDate'].invalid && transactionform.controls['cardExpirationDate'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label>Card expiration date *</label>
                            </div>
                            <p-calendar class="form-control" formControlName="cardExpirationDate" #cardExpirationDate name="cardExpirationDate" id="cardExpirationDate"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                                        [(ngModel)]="transaction.cardExpirationDate">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Merchant details</h3>
                </div>

                <div class="box-body">
                    <div class="form-group" [class.has-error]="hasMerchantCountryError">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Merchant country *</label>
                            </div>
                            <select class="form-control" formControlName="merchantCountry" #merchantCountryFeature name="merchantCountryFeature" id="merchantCountryFeature"
                                    (blur)="validateMerchantCountry(merchantCountryFeature.value)"
                                    (change)="validateMerchantCountry(merchantCountryFeature.value)">
                                <option *ngFor="let x of countries" [value]="x.feature">{{x.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['merchantCode'].invalid && transactionform.controls['merchantCode'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Merchant Code *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="merchantCode" #merchantCode name="merchantCode" id="merchantCode"
                                   placeholder="Enter merchant code...">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['longitude'].invalid && transactionform.controls['longitude'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Longitude *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="longitude" #longitude name="longitude" id="longitude"
                                   placeholder="Enter longitude...">
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="transactionform.controls['latitude'].invalid && transactionform.controls['latitude'].touched">
                        <div class="col-md-12">
                            <div style="clear:both">
                                <label class="control-label">Latitude *</label>
                            </div>
                            <input type="text" class="form-control" formControlName="latitude" #latitude name="latitude" id="latitude"
                                   placeholder="Enter latitude...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group" style="clear:both; padding:10px;">
                <button type="button" (click)="verify()" class="btn btn-primary" [disabled]="transactionform.invalid">Submit</button>
            </div>
        </div>
     </form>
</div>
 